.search {
    display: flex;
    width: 50%;
}

.search-form {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    place-content: center;
    margin-top: 20px;
}

.search-form__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
}

.search-form__input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    width: 65%;
}

.search-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid gray;
    background-color: #DDD;
    font: 700 13px/18px Helvetica, arial;
    margin: 0 10px;
    cursor: pointer;
    width: 35%;
}

.search-form__button,
.remove-form_button {
    margin-left: 8px;
    background: transparent;
    font-size: 16px;
    color: #575353;
    cursor: pointer;
}

.remove-form_button {
    border: none;
}

.search-form__button:hover,
.search-form__button:focus,
.remove-form_button:hover,
.remove-form_button:focus {
    color: #e6e4e4;
    color: black;
}

.fa-icons {
    margin-left: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 60%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 768px) {

    .search-form__button,
    .remove-form_button {
        font-size: 13px;
    }
}

@media only screen and (max-width: 575px) {
    .search-form {
        display: flex;
        align-items: center;
        text-align: -webkit-center;
    }

    .search-form__content,
    .search {
        width: 100%;
    }

    .search-form__button,
    .search-form__input {
        font-size: 10px;
    }

    .search-form__button {
        width: fit-content;
    }

    .fa-icons {
        margin: 0;
    }
}